.hide {
  display: none;
}

html {
  font-size: 2vh;
}

@media (max-width: 800) {
  html {
    font-size: 1vh;
  }
}

/* Фонтсы */
@import url('https://fonts.cdnfonts.com/css/montserrat');

*,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
a,
p,
span {
  font-family: 'Montserrat', sans-serif;
}

.lt-up {
  text-transform: uppercase;
}

.lt-bold {
  font-weight: bold;
}

.lt-thin {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Elems */
.w80 {
  width: 80%;
  margin: auto;
}

.w60 {
  width: 60%;
  margin: auto;
}

.hov-gray {
  transition: all 0.2s ease-in;
}

.hov-gray:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.divider {
  width: 100%;
  height: 5vh;
  background: url('./imgs/divider.svg');
  background-size: contain;
  background-position: center;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering-m {
  margin: auto;
}

.rounded-btn {
  min-width: 100px;
  border-radius: 1vh;
  padding: 2vh;
}

.pagination {
  margin: 2vh auto;
}

/* Forms */
label,
input[type=checkbox],
select,
option {
  cursor: pointer;
}

.form-auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-block-wrapper {
  min-width: 80%;
  width: 800px;

  margin: auto;
}

.theme-inp {
  width: 100%;

  border: none;

  padding: 10px;
  padding-left: 20px;

  font-weight: bold;
  font-size: 1.4rem;
}

/* TinyMCE */
.tox-statusbar__branding {
  width: 0;

  margin: 0;

  overflow: hidden;
  display: none;
}

/* Цвета бренда */
.bg-bindigo,
.bg-bindigo * {
  background-color: #036c9d;
}

.bg-bblue,
.bg-bblue * {
  background-color: #1d7ba7;
}

.bg-bgray,
.bg-bgray * {
  background-color: #797979;
}

*.bindigo-text {
  color: #036c9d;
}

*.bblue-text {
  color: #1d7ba7;
}

*.bgray-text {
  color: #4d4d4d;
}

/* header */
.logo {
  height: 4vh;
}

.dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
}

/* footer */
footer {
  color: white;
}

.l-point>a {
  color: white;
}

.ftr-wrapper {
  padding: 10vh 0 15vh 0;

  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.ftr-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ftr-office-info>* {
  margin: 0;
}

.ftr-soc-links {
  margin-top: 2vh;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}

.ftr-logo>* {
  height: 7.5vh;
  max-width: 80vw;
}

.ftr-soc-links>a>* {
  height: 5vh;
}

/* cover */
.cover-wrapper {
  height: 70vh;
  overflow: hidden;
}

.cover-wrapper>* {
  height: 100%;
}

.cover {
  width: 100%;
}

@media (max-width: 950px) {
  .cover {
    width: auto;
    height: 120%;
  }
}

.blur {
  transform: translateY(-100%);

  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  z-index: 2;
}

.logos {
  height: auto;
  text-align: center;
}

.fullogo>* {
  height: 7vh;
  max-width: 80vw;
}

/* grid ctlg */
.mini-catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5vh;
  gap: 5vh;
}

.grid-ctlg {
  display: grid;
  grid-template-columns: repeat(3, minmax(15vh, 1fr));
  gap: 2vh;
}

@media (max-width: 600px) {
  .grid-ctlg {
    grid-template-columns: repeat(2, minmax(15vh, 1fr));
  }
}

@media (max-width: 300px) {
  .grid-ctlg {
    grid-template-columns: repeat(1, minmax(15vh, 1fr));
  }
}

.category-card {
  display: flex;
  align-items: center;

  border: 0.1vh #4d4d4d solid;
  border-radius: 2vh;

  overflow: hidden;
}

.logo-ctg {
  height: 15vh;
  width: 15vh;
}

.logo-ctg>* {
  width: 10vh;
  height: 10vh;
}

.category-name {
  width: 20vh;
  margin: auto;
}

@media (max-width: 1200px) {
  .mini-catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5vh;
    gap: 3.5vh;
  }

  .logo-ctg {
    height: 15vh;
    width: 15vh;
  }

  .logo-ctg>* {
    width: 10vh;
    height: 10vh;
  }

  .category-name {
    display: none;
  }
}

/* downpage */

.guy {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.guy * {
  height: 90vh;
}

/* Каталог */
.this-catalogue {
  
}

.pcards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2vh;
  margin: auto;
}

.product-card {
  width: 30vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 0.1vh solid #4d4d4d;
  border-radius: 1vh;

  overflow: hidden;
}

.pcard-cover {
  height: 25vh;
  overflow: hidden;
}

.pcard-cover>* {
  height: 20vh;
  width: 20vh;
}

.pcard-text {
  width: 100%;
  padding: 2vh;
}

.about-logo {
  padding: 10vh;
}

/* О нас */
.history-grid {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  gap: 2vh;
}

@media (max-width: 1000px) {
  .history-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .storyline {
    display: none;
  }

  .history-grid .text-left {
    text-align: start;
  }
}

.hgrid-elem {
  min-height: 20vh;
}

.abzac {
  width: 40%;
}

@media (max-width: 1000px) {
  .guy {
    display: none;
  }
}

@media (max-width: 800px) {
  .no-matter {
    display: none;
  }
}

/* Страница товара */
.product-cover {
  max-height: 40vh;
  width: 30vw;

  overflow: hidden;
}

.product-cover>* {
  height: 40vh;
}

.product-text {
  width: 40vw;
}

@media (max-width: 800px) {
  .product-cover {
    width: 100%;
  }

  .product-text {
    width: 100%;
  }
}

.carousel-item-iwrapper {
  height: 80vh;
  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
  .carousel-item-iwrapper {
    height: 50vh;
  }
}

@media (max-width: 500px) {
  .carousel-item-iwrapper {
    height: 25vh;
  }
}

.carousel-item-iwrapper>* {
  max-width: 100%;
}

/* Письма */
.letter-wrapper {
  --letter-sizing: 1.6vh;
  height: calc(var(--letter-sizing) * 14);
  width: calc(var(--letter-sizing) * 10);

  margin: 2vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 0px 10px 0px #4d4d4d;

  overflow: hidden;

  transition: all 0.2s ease-in;
}

.letter-wrapper:hover {
  --letter-sizing: 1.8vh;
  margin: 1vh;
}

.letter {
  height: 100%;
}

.letter-hover {
  height: 100%;
  width: 80%;

  background-color: #00000000;
  transition: all 0.2s ease-in;
}

.letter-wrapper:hover .letter-hover {
  background-color: #4d4d4d60;
  transform: translateY(-110%);
}